.bg-peche {
	background-color: #ffad80 !important;
} 

.orange {
	color: #ff9e68;
}

.custom-justify{
	text-align: justify;
	text-justify: auto;
}

#map {
    width: 75%;
    height: 600px;
    background-color: grey;
}

.bg2 {
	background-color: #fff3ec!important;
}
